/* ============
    Reset
=============== */

@font-face {
    font-family: 'Madame';
    src: url('../fonts/Madame.ttf') format('truetype')
}

html {
    box-sizing: border-box;
    background-color: $black;  
    width: 100%;
    height: 100%;
}
  
*,
*::before,
*::after {
    box-sizing: border-box;
}

figure,
body {
    margin: 0;    
    font-family: 'Madame';
}